* {
    font-family: 'Futura PT', sans-serif;
    color: #ffffff;
}

h1 {
    font-family: 'Futura PT Medium';
    font-size: 1.5em;
    font-weight: normal;
    line-height: 35px;
    margin: 45px 45px 0 45px;
    text-align: right;
    width: 591px;
}

h2 {
    font-family: 'Futura PT Medium';
    font-size: 1.25em;
    font-weight: normal;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 20px;
}

p {
    font-family: 'Futura PT Book';
    font-size: 1.125em;
    line-height: 22px;
    margin: 0 45px 0 45px;
    width: 591px;
}

.paragraph1 {
    margin-bottom: 15px;
}